[Unit]
Description=nginx service
After=network.target 
   
[Service] 
Type=forking 
ExecStart={{ pillar['install_nginx_dir'] }}/sbin/nginx
ExecReload={{ pillar['install_nginx_dir'] }}/sbin/nginx -s reload
ExecStop={{ pillar['install_nginx_dir'] }}/sbin/nginx -s stop
PrivateTmp=true 
   
[Install] 
WantedBy=multi-user.target
