[Unit]
Description=Apache server daemon
After=network.target

[Service]
Type=forking
ExecStart={{ pillar['httpd_install_dir'] }}/bin/apachectl start
ExecStop={{ pillar['httpd_install_dir'] }}/bin/apachectl stop
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
